################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/CustomerAssetTracker.Core.Tests/obj
/CustomerAssetTracker.Core.Tests/bin/Debug/net9.0
/.vs/CustomerAssetTracker
